<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Administration</title>
        <!-- Fontfaces CSS-->
        <link href="/assets/css/font-face.css" rel="stylesheet" media="all">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
              integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- Bootstrap CSS-->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="all">
        <!-- Vendor CSS-->
        <link href="/assets/css/animsition.min.css" rel="stylesheet" media="all">
        <link href="/assets/css/hamburgers.min.css" rel="stylesheet" media="all">
        <!-- Main CSS-->
        <link href="/assets/css/theme.css" rel="stylesheet" media="all">
    </head>

    <body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <div class="logo d-flex justify-content-around align-content-center p-0">
                            <p class="text-uppercase">
                                <a class="btn btn-danger" href="/admin">
                                    Dashboard
                                </a>
                                <a class="btn btn-primary" href="/">
                                    Home Page
                                </a>
                            </p>
                        </div>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                              <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-newspaper"></i>Articles</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/admin/create/post">Créer un article</a>
                                </li>
                                <li>
                                    <a href="/admin/manage/post">Modérer les articles</a>
                                </li>
                            </ul>
                        </li>

                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-comments"></i>Commentaires</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/admin/manage/comment">Modération</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo d-flex justify-content-around align-content-center p-0">
                <p class="text-uppercase">
                    <a class="btn btn-danger" href="/admin">
                        Dashboard
                    </a>
                    <a class="btn btn-primary" href="/">
                        Home Page
                    </a>
                </p>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">

                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow d-flex justify-content-start align-items-center" href="#">
                                <i class="fas fa-newspaper fa-2x"></i>Articles</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/admin/create/post">Créer un article</a>
                                </li>
                                <li>
                                    <a href="/admin/manage/post">Modérer les articles</a>
                                </li>
                            </ul>
                        </li>

                        <li class="has-sub">
                            <a class="js-arrow d-flex justify-content-start align-items-center" href="#">
                                <i class="fas fa-comments fa-2x"></i>Commentaires</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/admin/manage/comment">Modérer les coms'</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop d-none d-lg-block">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="{{ appUser.thumbnail }}" alt="Avatar"/>
                                        </div>
                                        <div class="content d-lg-block">
                                            <a class="js-acc-btn" href="#">{{ appUser.firstName }}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{{ appUser.thumbnail }}" alt="Avatar"/>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{{ appUser.firstName }} {{ appUser.lastName }}</a>
                                                    </h5>
                                                    <span class="email">{{ appUser.email }}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer text-center">
                                                <a href="/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        {% block content %}{% endblock %}
                    </div>
                </div>


            </div>
            {% block modal %}{% endblock %}
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
    </div>

    <!-- Jquery JS -->
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Vendor JS -->
    <script src="/assets/js/animsition.min.js"></script>
    <!-- Main Admin JS -->
    <script src="/assets/js/main.js"></script>
    </body>
</html>
