{% extends "base.html.twig" %}


{% block headTitle %} Thomas LEFEBVRE - Développeur Backend {% endblock %}
{% block headerURL %} '../public/img/header-home2.jpg' {% endblock %}
{% block headerTitle %} Développeur Backend {% endblock %}
{% block headerSubtitle %} Construisons les fondations de votre activité {% endblock %}

{% block backHome %}{% endblock %}

{% block content %}
    <div class="container">
        {% for post in posts %}
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <a href="../public/index.php?action=showPost&amp;id={{ post.id }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                        </a>
                        <a class="overlay" href="../public/index.php?action=showPost&amp;id={{ post.id }}">
                            <img class="post-thumbnail" src="../public/img/header-single.jpg" alt="post image"/>
                            <!-- Mettre l'image en variable twig et stocker sa reference en base, réhydrater et tout -->
                        </a>
                        <p class="text-justify">
                            {{ post.content |slice(0, 400) }}
                            <a href="../public/index.php?action=showPost&amp;id={{ post.id }}">En lire plus</a>
                        </p>
                        <p class="post-meta">Publié par
                            <a href="#">{{ post.author }}</a>
                            le <em>{{ post.created_at }}</em>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}