{% extends "base.html.twig" %}

{% block header %}
    {{ parent() }}
    {% block headerTitle %}
        {{ post.title }}
    {% endblock %}
    {% block headerSubtitle %}
        <h2 class="subheading">Category : {{ post.category }}</h2>
        Publié par <a href="#">{{ post.author }}</a> le <em>{{ post.created_at }}</em>
    {% endblock %}
{% endblock %}

{% block content %}
    <article>
        <div class="container">
            <div class="row">
                    <img class="post-thumbnail" src="../public/img/header-single.jpg" alt="post image"/>
                    <!-- Mettre l'image en variable twig et stocker sa reference en base, réhydrater et tout -->
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>
                        {{ post.content }}
                    </p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}

